<div>
<span>{{ referenced_entity_id }}</span>
{% if referencing_entity_id %}
<span>{{ referencing_entity_id }}</span>
{% endif %}
{% if referencing_entity_id %}
<span>{{ referencing_entity_type }}</span>
{% endif %}
{% if referencing_entity_id %}
<span>{{ referencing_entity_bundle }}</span>
{% endif %}
{% if referencing_entity_view_link %}
<span>{{ referencing_entity_view_link }}</span>
{% endif %}
</div>